body {
    background-color: rgb(10, 0, 68);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
}

h2 {
    color: white
}

li {
    color: white;
}

a {
    color: rgb(199, 199, 88);
}