body {
  background-color: rgb(10, 0, 68);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

li {
  color: white;
}

a {
  color: rgb(199, 199, 88);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#div-links {
  font-size: 15px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  background-color: green;
  color: white;
}
