body {
  background-color: rgb(10, 0, 68);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

li {
  color: white;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.imagem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.container ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ex-01,
.ex-02,
.ex-03,
.ex-04,
.ex-05,
.ex-06,
.ex-07,
.ex-08,
.ex-09,
.ex-10 {
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  justify-content: center;
  width: 15rem;
  height: 5rem;
  color: white;
  background-color: green;
  align-items: center;
}

.efeito-profundidade {
  transition: transform 0.3s;
}

.efeito-profundidade:hover {
  transform: scale(1.05);
  box-shadow: 0.1px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 450px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    width: 100%;
  }

  .imagem img {
    max-width: 350px;
    height: auto;
  }
}
