body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.wordContainer {
    font-size: 2em;
    letter-spacing: 10px;
    margin-bottom: 20px;
}

.alphabetContainer button {
    font-size: 1.2em;
    margin: 5px;
    padding: 10px;
}

.hangmanContainer {
    margin-top: 20px;
}

.hangmanImage {
    width: 200px;
}