body {
  background-color: rgb(10, 0, 68);
  display: flex;
  font-family: Arial, Helvetica, sans-serif, monospace;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  height: 100vh;
  margin: 0;
}

h1 {
  color: green;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(10, 0, 68);
  border-radius: 50px;
  width: 20rem;
  height: 30rem;
  gap: 1rem;
}

p {
  color: white;
  font-size: 1.2rem;
}

input {
  border-radius: 50px;
  text-align: center;
  width: 10rem;
  height: 2rem;
}

input::placeholder {
  color: black;
}

#btnGo,
#btReiniciar {
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  justify-content: center;
  width: 10rem;
  height: 2rem;
  color: white;
  background-color: green;
  align-items: center;
  margin: 1rem 0;
  cursor: pointer;
}

#btReiniciar {
  background-color: red;
}

#resultadoDiv {
  text-align: center;
  overflow-y: auto;
  width: 18rem;
  max-height: 10rem;
  margin-top: 1rem;
  border: 1px solid white;
  padding: 10px;
  box-sizing: border-box;
}

@media (max-width: 450px) {
  .container {
    width: 90%;
    height: auto;
  }

  input,
  #btnGo,
  #btReiniciar {
    width: 100%;
  }

  #resultadoDiv {
    width: 100%;
  }
}
