body {
  background-color: rgb(10, 0, 68);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}

#btAdic {
  font-size: 15px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  background-color: green;
  color: white;
}
