body {
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

.div__zico {
  display: flex;
  align-items: center;
  gap: 1.25rem;

  background-color: rgb(201, 1, 1);
  box-shadow: 3.12px 9.37px 21.85px rgba(176, 176, 176, 0.6);
  border-radius: 1.25rem;

  padding: 1rem 2.5rem;
  margin: 2.5rem 0;
  width: 30%;
  margin-left: 1rem;
}

.div__gabi {
  display: flex;
  align-items: center;
  gap: 1.25rem;

  background-color: rgb(201, 1, 1);
  box-shadow: 3.12px 9.37px 21.85px rgba(176, 176, 176, 0.6);
  border-radius: 1.25rem;

  padding: 1rem 2.5rem;
  margin: 2.5rem 0;
  width: 30%;
  margin-left: 1rem;
}

.zico__img {
  width: 13rem;
  height: 13rem;
  border-radius: 0.5rem;
}

.gabi__img {
  width: 13rem;
  height: 13rem;
  border-radius: 0.5rem;
  margin-left: 3rem;
}

@media (max-width: 451px) {
  .div__zico {
    width: 100%;
    margin-left: 0.5rem;
  }
}

@media (max-width: 451px) {
  .div__gabi {
    width: 100%;
    margin-left: 0.5rem;
  }
}
