body {
  background-color: rgb(10, 0, 68);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
}

#btAdic {
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  justify-content: center;
  width: 10rem;
  height: 2rem;
  color: white;
  background-color: green;
  align-items: center;
  margin-left: 42.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.update-button {
  background-color: green;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}
