body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
  background-color: rgb(10, 0, 68);
  color: white;
}

p {
  font-size: 1.2em;
  margin-top: 20px;
}

#fetchCatFactButton {
  font-size: 15px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  background-color: green;
  color: white;
}
