body {
  background-color: rgb(10, 0, 68);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.api-01,
.api-02,
.api-03 {
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  justify-content: center;
  width: 15rem;
  height: 5rem;
  color: white;
  background-color: green;
  align-items: center;
}

.efeito-profundidade {
  transition: transform 0.3s;
}

.efeito-profundidade:hover {
  transform: scale(1.05);
  box-shadow: 0.10px 20px rgba(0, 0, 0, 0.2);
}
